<div class="card">
  
     <a href= 'https://{{post.link}}' target="_blank" class="userLink">
    {{id}}
    </a>

  </div>
  <div class="card-action">
   <!-- <a href="/user/{{ user.id }}" class="">{{ user.local.email }}</a> -->
    <span class="post__date">{{ createdAt }}</span>
    <span class="post_comments">{{ comments.length }} Comments</span>
  </div>
</div>
